.h1 { /* Применяется ко всем элементам с классом h1 */
    color: blue;
}

#world { /* ID имеет более высокий приоритет, чем класс */  
    color: red;
}

.list { /* Стили для списка */
    list-style: none; /* Убирает маркеры списка */
    padding: 0;       /* Убирает внутренние отступы */
    margin: 0;        /* Убирает внешние отступы */
}

.item { /* Текст элементов списка становится заглавным */
    text-transform: uppercase;
}

#last { /* ID перекрывает стиль класса item */
    color: orange;
}

.h3 {   /* Низкий (селектор класса) */
    color: green;
}

.task2 {  /* Cредний (класса) */
    color: aqua;
}

#Task2 {   /* Высокий (ID) */
    color: cadetblue;
}